.Wrapp {
}
.white {
  margin: 0;
  color: rgb(238, 233, 226);
}
.radios {
  border-radius: 0.5;
}
.hero-section {
    background:linear-gradient(-35deg,var(--primary) 0%,var(--primary) 25%,var(--secondary) 25%,var(--secondary) 75%,var(--primary) 75%,var(--primary) 100%);
  background-color: var(--primary);
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-section-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}
.image-section-container img {
    /* box-shadow: 3px 3px 3px 3px var(--accent); */
  margin-bottom: 10px;
  border-radius: 10px;
}
.image-section-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
}
.third-column-image {
  transform: translateY(-40px);
}
.five-column-image {
    transform: translateY(-180px);
}
.first-column-image {
    transform: translateY(180px);
}
.second-column-image{
    transform: translateY(100px);

}
.fourth-column-image {
    transform: translateY(-80px);

}