.home-wrapper-Container {
  padding: 0 10px;
  background-color: #356940;
}
.first-img-logo {
  width: 50px;
}
.second-img-logo {
  width: 170px;
}
.home-wrapper-Container {
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
}
.header-container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.middle-header-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.last-header-container {
  display: flex;
  flex-direction: row;
}
.header-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header-container > div > div {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.last-header-navbar {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.last-header-navbar > a {
  text-decoration: none;
}
.contact-us-button {
  border-radius: 10px;
  color: white;
  border: 1px solid white;

  background-color: #C04446;
  border-color: white;
}
.contact-us-button:hover{
  cursor: pointer;
  background-color:#b45f60 ;
  transform: scale(1.01);
  transition: .3s  ease-in-out;
}
.first-p-logo {
  color: white;
}
.social-media-icon >a {
  color:black;
}
.navbar-social > p>a{
  color:white;
}
 .navbar-social > p > a{
text-decoration: none;
}
.first-p-logo{
  color: white;
}
.last-header-navbar > a{
  color: white;
}
.last-header-navbar > a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.6s;
}
.last-header-navbar > a:hover::after {
  width: 100%;
  background: white;
}
.social-media-icon > a:hover{
transform: scale(1.1);
transition: 0.2s ease-in-out;
}
.navbar-social > p>a:hover {
  color:black;
}









.dropdown-first {
  position: relative;
  display: inline-block;
}

.dropdown-content-agenda {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-agenda a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-agenda a:hover {background-color: #ddd;}

.dropdown-first:hover .dropdown-content-agenda {display: block;}



.last-header-navbar a{
  text-decoration: none;
    color: white;
}
.dropdown-content-agenda a{
  color: black;
}
.last-header-navbar button{
  background-color: #356940;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-Secound {
  position: relative;
  display: inline-block;
}
.dropdown-content-Places {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content-Places a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content-Places a:hover {background-color: #ddd;}

.dropdown-Secound:hover .dropdown-content-Places   {display: block;}







.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: start;

  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@media  (max-width: 500px){
  .menu-toggle, .bar {
    display: block !important;
    cursor: pointer;
  }
  .header-container{
    display: none;
  }
  .home-wrapper-Container a{
display: none!important;


  }
  .home-wrapper-Container{
    height: 5pc;
    width: 100%;
    
  }
  .home-wrapper-Container button{
    background-color: transparent;
  }
  .mobile-nav a{
display: block !important;
  }
  .mobile-nav{
    background-color: #356940;
    width: 100%;
    height: 100%;
  }
  .mobile-nav .last-header-navbar{
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
    

  }
  .middle-header-container {
    justify-content: space-around;
  }
 
}
  
